In [39]:
import pandas as pd

In [40]:
Fev31_15min = []
FevNorm_15min = []
anos = ['1997','1998','1999','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2012','2013',
        '2014','2015','2016','2017','2018','2019','2020','2021','2022']

In [41]:
pasta = input('Digite a Estação: ')
diretorio = input('Digite o diretório: ')
if diretorio == '':
    diretorio = r'D:\Estudo\Oficina de Pesquisa\Dados Tradados'

Digite a Estação: Anchieta
Digite o diretório:

In [42]:
#Tratando as entradas:
tamanho = pasta.split()
if len(tamanho) != 1:
    elemento = ('_'.join(tamanho)).lower()
else:
    elemento = pasta.lower()

In [43]:
#Fevereiro de 31 Dias:
for ano in anos:
    arquivo = pd.read_csv(diretorio+'\\'+pasta+'\\'+elemento+'_fev31_'+ano+'.csv', sep=',')
    arquivo[arquivo['15 min'] == 'ND'] = 0 
    arquivo[['15 min']] = arquivo[['15 min']].apply(pd.to_numeric)
    soma = arquivo['15 min'].sum()
    Fev31_15min.append(soma)

In [44]:
#Fevereiro Normal:
for ano in anos:
    arquivo = pd.read_csv(diretorio+'\\'+pasta+'\\'+elemento+'_Normal_'+ano+'.csv', sep=',')
    arquivo[arquivo['15 min'] == 'ND'] = 0 
    arquivo[['15 min']] = arquivo[['15 min']].apply(pd.to_numeric)
    soma = arquivo['15 min'].sum()
    FevNorm_15min.append(soma)

In [45]:
lista_de_tuplas = list(zip(anos,Fev31_15min,FevNorm_15min))

In [46]:
df = pd.DataFrame(lista_de_tuplas, columns=['Anos','Fev31','FevNormal'])
df.to_csv(diretorio+'\\'+elemento+'_Final.csv', index = False)

In [48]:
df

    Anos  Fev31  FevNormal
0   1997   75.7       55.6
1   1998  241.3      228.7
2   1999  101.7      100.9
3   2000   86.5       86.3
4   2001   65.4       65.4
5   2002  148.0      148.0
6   2003    1.6        1.6
7   2004  119.0      119.0
8   2005  145.2       69.4
9   2006  142.6      142.6
10  2007  111.0      111.0
11  2008  214.2      203.4
12  2009  138.6      138.6
13  2010  132.4       57.6
14  2012   31.2       31.2
15  2013   95.6       86.8
16  2014   26.2       26.2
17  2015  122.2      122.2
18  2016  161.2      158.8
19  2017   60.4       59.2
20  2018  128.6      127.4
21  2019  258.0      202.4
22  2020  981.4      725.2
23  2021  536.0      536.0
24  2022  407.2      407.2