In [10]:
import pandas as pd

In [11]:
Fev31_15min = []
FevNorm_15min = []
anos = ['1997','1998','1999','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013',
        '2014','2015','2016','2017','2018','2019','2020','2021','2022']

In [12]:
pasta = input('Digite a Estação: ')
diretorio = input('Digite o diretório: ')
if diretorio == '':
    diretorio = r'D:\Estudo\Oficina de Pesquisa\Dados Tradados'

Digite a Estação: Campo Grande
Digite o diretório:

In [13]:
#Tratando as entradas:
tamanho = pasta.split()
if len(tamanho) != 1:
    elemento = ('_'.join(tamanho)).lower()
else:
    elemento = pasta.lower()

In [14]:
#Fevereiro de 31 Dias:
for ano in anos:
    arquivo = pd.read_csv(diretorio+'\\'+pasta+'\\'+elemento+'_fev31_'+ano+'.csv', sep=',')
    arquivo[arquivo['15 min'] == 'ND'] = 0 
    arquivo[['15 min']] = arquivo[['15 min']].apply(pd.to_numeric)
    soma = arquivo['15 min'].sum()
    Fev31_15min.append(soma)

In [15]:
#Fevereiro Normal:
for ano in anos:
    arquivo = pd.read_csv(diretorio+'\\'+pasta+'\\'+elemento+'_Normal_'+ano+'.csv', sep=',')
    arquivo[arquivo['15 min'] == 'ND'] = 0 
    arquivo[['15 min']] = arquivo[['15 min']].apply(pd.to_numeric)
    soma = arquivo['15 min'].sum()
    FevNorm_15min.append(soma)

In [16]:
lista_de_tuplas = list(zip(anos,Fev31_15min,FevNorm_15min))

In [17]:
df = pd.DataFrame(lista_de_tuplas, columns=['Anos','Fev31','FevNormal'])
df.to_csv(diretorio+'\\'+elemento+'_Final.csv', index = False)

In [18]:
df

    Anos  Fev31  FevNormal
0   1997   81.0       57.2
1   1998  213.3      213.3
2   1999   64.2       64.0
3   2000  139.3      139.3
4   2001   72.2       72.2
5   2002  116.8      116.8
6   2003   27.6        8.8
7   2004   86.2       86.2
8   2005  151.0       89.0
9   2006   93.2       93.2
10  2007  162.6      162.6
11  2008  175.2      164.6
12  2009   76.6       76.6
13  2010  135.2       73.8
14  2011   30.4       23.2
15  2012   74.0       74.0
16  2013  130.0      125.4
17  2014   64.4       64.2
18  2015  119.8      119.8
19  2016  137.6      128.0
20  2017   19.4       15.6
21  2018  119.2      117.8
22  2019  284.6      220.4
23  2020  339.6      272.0
24  2021  137.4      137.4
25  2022  166.6      166.6